!!!
html
  head
    title= 'AndSync'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/smoothness/jquery-ui-1.8.8.custom.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fileupload-ui.css')

    script(type='text/javascript', src='../js/jquery-1.4.4.min.js')
    script(type='text/javascript', src='../js/jquery-ui-1.8.8.custom.min.js')
    script(type='text/javascript', src='../js/jquery.fileupload.js')
    script(type='text/javascript', src='../js/jquery.fileupload-ui.js')
    script(type='text/javascript', src='../js/application.js')
  body
    #main
      #header
        - if (session.usermail)
          #user= 'logged in as ' + session.usermail
          #logout
            a(href='/sessions/destroy') logout
      - if (flash.warn)
        p#warn= flash.warn
      - if (flash.notify)
        p#notification= flash.notify
      #container!= body

