!!!
html
  head
    title= 'AndSync'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #main
      #header
        - if (session.usermail)
          #user= 'logged in as ' + session.usermail
          #logout
            a(href='/sessions/destroy') logout
      - if (flash.warn)
        p#warn= flash.warn
      - if (flash.notify)
        p#notification= flash.notify
      #container!= body

